.join-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1rem;
  display: grid;
  grid-template-rows: auto 1fr 15%;
  height: 100vh;
}

.join-text {
  font-size: 3.1em;
  font-weight: bold;
  margin: 0;
}

.pink-text {
  color: #ff84df;
  font-size: 5rem;
}

.join-form {
  background-color: #7c7484;
  width: 30vw;
  max-width: 30%;
  padding: 2rem 3rem;
  border-radius: 20px;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-group input {
  outline: none;
  background-color: #7c7484;
  border: 1px solid #00c0ff;
  border-radius: 0.3rem;
}

.btn {
  color: white;
  background-color: #00c0ff;
  padding: 0.9rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180d8;
}

@media screen and (max-width: 600px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
  }
  .join-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}
